<div class="flex flex-col items-center">
  <main class="max-w-7xl px-4 sm:px-6 lg:px-8 pb-10">
    <div class="flex items-baseline justify-between border-gray-200 pb-6 pt-24">
      <h1 class="text-4xl font-bold text-zinc-950">Products</h1>
      <div class="flex items-center">
        <div>
          <button mat-button [matMenuTriggerFor]="sortMenu">Sort</button>
          <mat-menu #sortMenu="matMenu">
            <button mat-menu-item>Price: high-low</button>
            <button mat-menu-item>Price: low-high</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <section class="pt-6">
      <div class="grid grid-cols-1 gap-8 gap-b-10 lg:grid-cols-4">
        <div>
          <div class="flex items-center justify-between">
            <p class="text-lg">Filters</p>
            <i class="bi bi-filter-circle-fill"></i>
          </div>
          <form class="hidden lg:block" action="">
            <!-- contains multiple filters like classes,type of worksheet,Language, resource type -->
            <div *ngFor="let item of filterData; let last = last">
              <div class="py-6">
                <span class="font-medium text-zinc-950">{{ item.name }}</span>
                <div class="pt-6" id="filter-section-0">
                  <div class="scroll-py-4">
                    <div *ngFor="let option of item.options">
                      <div class="flex items-center">
                        <mat-checkbox
                          id="'filter - '+option.value"
                          [name]="item.id"
                          [value]="option.value"
                          (click)="
                            handleMultipleSelectFilter(option.value, item.id)
                          "
                        >
                          <span class="text-sm text-zinc-950">{{
                            option.label
                          }}</span>
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <mat-divider *ngIf="!last"></mat-divider>
            </div>
            <mat-divider></mat-divider>
            <div *ngFor="let item of singleFilterData; let last = last">
              <div class="py-6">
                <span class="font-medium text-zinc-950">{{ item.name }}</span>
                <div class="pt-6" id="filter-section-0">
                  <div class="scroll-py-4">
                    <div *ngFor="let option of item.options">
                      <div class="flex items-center">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault1"
                            (click)="
                              handleSingleSelectFilter(option.value, item.id)
                            "
                          />
                          <label
                            class="form-check-label"
                            for="flexRadioDefault1"
                          >
                            {{ option.value }}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <mat-divider *ngIf="!last"></mat-divider>
            </div>
          </form>
        </div>
        <div class="lg:col-span-3">
          Products
          <div class="flex felx-wrap justify-evenly">
            <ng-container *ngFor="let item of wksheets">
              <app-product-card [product]="item" />
              <!--  take the product value defined in product-card.componenet.ts file -->
            </ng-container>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
