<div class="">
    <div>
        <app-home-view/>
        <app-alt-home/>
    </div>
    <div>
        <app-product-slider title="Elementry Level Products" [products]="elementaryMaterial"></app-product-slider>
        <app-product-slider title="Middle School Level Products" [products]="middleLevelMaterial" ></app-product-slider>
        <app-product-slider title="Higher Education Level Products" [products]="higherLevelMaterial"></app-product-slider>
        <app-product-slider title="Miscellenous" [products]="misc" ></app-product-slider>
        
    </div>
</div>
