/* home.component.css */
@font-face {
  font-family: "TaglineFont";
  src: url('../../../../../assets/Fonts/Twister.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Ubuntu+Condensed&family=Whisper&display=swap');
.image-container {
    position: relative;
    text-align: center;
    max-height: 40rem; /* Adjust this value as needed */
    overflow: hidden; /* Ensure the image doesn't overflow its container */
    display: flex;
    width: 100%; max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
    
  }
  
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-align: left;
    color: white;
    z-index: 100;
    width: 100%; /* Ensure the overlay spans the entire width of the window */
    padding: 20px 20px; /* Add padding to the left and right to create space around the text */

  }
  
  
.desc {
  width: 100%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

  
  .overlay h2 {
    font-weight: bold;
    font-size: 48px; /* Increase the font size */
    line-height: 60px; /* Adjust line height to fit the larger text */
    margin-left: 0; /* Remove any left margin */
    margin-left: 0; /* Remove any left margin */
    background: linear-gradient(to right, black,#023020 , #36454F, black,#301934);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 30px;
    white-space: nowrap;
    overflow: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    font-style: normal;
    animation: animated-text 2s linear 1s 1 normal both,animated-cursor 600ms linear infinite;
  }
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 500px;}
  }
  
  @keyframes animated-cursor{
    from{border-right-color: green}
    to{border-right-color: transparent;}
  }
  .overlay p {
    font-size: 1.2em;
    
    opacity: 0; /* Initially hide the paragraph */
    animation: text2 5s ease-in-out forwards; /* Apply animation */
    animation-delay: 1s; /* Delay the paragraph animation */
    color: black;
    
  }
  html {
    height: 100%;
}

h4 {
    background: radial-gradient(ellipse at center, #443501 0%,#000000 100%);
    height: 100%;
}


h4 {
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
font-family: 'Playfair Display', serif;
    position: relative;
    text-transform: uppercase;    
    
    margin: 0;
    font-weight: 400;
}

h4:after {
    background: none;
    content: attr(data-heading);
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: 
        -1px 0 1px #c6bb9f, 
        0 1px 1px #c6bb9f, 
        5px 5px 10px rgba(0, 0, 0, 0.4),
        -5px -5px 10px rgba(0, 0, 0, 0.4);
}


span{
  color: whitesmoke;
  position:sticky;
  transform: translate(-50%,-50%);
  font-size : 50px;
  font-family: 'TaglineFont', serif;
  letter-spacing: 5px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 100px;
  // background-image: linear-gradient(
  // to right,
    
  //  #cb9b51 22%,
  //  #f6e27a 45%,
  //   #f6f2c0 50%,
  //   #f6e27a 55%,
  //    #cb9b51 78%,
  
  //  );
  //  -webkit-background-clip: text;
}
  
  .desc{

    padding-bottom: 2rem;

  }
  .overlay button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    display: block;
    background: linear-gradient(to right, black,#023020 , #36454F, #301934);
  }
  /* Media query for smaller devices */
@media (max-width: 768px) {
  .overlay {
    width: 80%;
    max-width: 300px;
    padding: 10px;
  }
}
  @keyframes text1 {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes text2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }