
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap" rel="stylesheet">
</head>
<body>  
     

  <!-- <div class="image-container justify-center">
    <img src="../../../../../assets/Home_view.png" alt="Your Image">  
    <div class="overlay">
      
  
      <span class="desc"><p align="justify">
        Elevate life, not just style</p></span> 
      <button routerLink="/subscription-deal">Discover More</button>  
    </div>
  </div> -->
  <!-- <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1><span>Lumia</span></h1>
      <h2>We are team of talented designers making websites with Bootstrap</h2>
      <a href="#about" class="btn-get-started scrollto">Discover More</a>
    </div>
  </section> -->

  <div class="mt-2 bg-image image-container justify-center hover-zoom ripple" data-mdb-ripple-color="light">
    <img src="https://t4.ftcdn.net/jpg/03/38/38/93/240_F_338389344_7yiAzAQt5vs7hY3ui4pxtnomXobybJbY.jpg"
      class="w-100" />
      <div class="overlay">
        <div>
          <h4></h4>
        </div>
        <h2>InfoPedia</h2>
         <span class="desc"><p align="justify">
          Practice more, Get better grades</p></span>  
        <button routerLink="/subscription-deal">Discover More</button>   
        
        
      </div>
  </div>
</body>
</html>
<!-- 
    <div class="image-container justify-center">
        <img src="../../../../../assets/Home_final.png" alt="Your Image">  
        <div class="overlay">
          <div class="h-full w-full"><img src="../../../../../assets/QDlogo.png" alt=""></div> 
          <h2>QUANTUM DOT</h2>
          <span class="desc"><p align="justify">
            Elevate life, not just style</p></span> 
          <button routerLink="/subscription-deal">Discover More</button>  
        </div>
      </div> -->




